.expense-list {
  flex-direction: column;
  color: white;
}

.expense {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
}

input {
  border: none;
  background: transparent;
  color: black;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
}
